.page-category {
	padding-top: 30px;
}

.cat-title{
	font-size:30px;
	font-weight: 600;
	text-transform: uppercase;
}

.list-news {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}

.list-news img {
	width:100%;
	height: 150px;
	object-fit:cover;
	border: 1px solid #ededed;
	padding:1px;
}

.list-news img:hover { 
	opacity: 0.8;
}

.list-news h4 a {
	font-size:21px;
	color:#2196f3;
	line-height: 25px;
}
 .list-news h4 a:hover {
	 color:#333;
 }

 a.read-more {
	 display: inline-block;
	 padding:5px 10px;
	 background: #2196f3;
	 color:#fff;
	 border-radius: 20px;
 }

 a.read-more:hover{
	 color:#333;
 }
 .page-numbers{
	 display: inline-block;
	 padding: 3px 10px;
	 border: 1px solid #2196f3;
 }

 .quatrang {
	 text-align: center;
 }

 h1.single-title {
	font-size:25px;
	font-weight:500;
	color:#2196f3;
	line-height:30px;
 }

 .meta-single {
	 padding-bottom:10px;
	 margin-bottom:10px;
	 border-bottom:1px solid #ededed;
 }

 .meta-single span {
	 display: inline-block;
	 margin-right:35px;
 }
 
 .single-content * {
	font-size:15px;
	line-height:23px;
 }

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.tag-single {
	display: inline-block;
	padding:2px 10px;
	background: #ededed;
	border-radius: 3px;

}

.fb-comments.fb_iframe_widget.fb_iframe_widget_fluid_desktop {
	width: 100%!important;
}

.fb-comments.fb_iframe_widget.fb_iframe_widget_fluid_desktop span {
	width: 100%!important;
}
.fb_iframe_widget_fluid_desktop iframe {
	min-width: 100%!important;
}



